body {
    background:rgba(0,0,0,.9);
    font:0.8em Arial,sans-serif;
}

h1, ul {
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

#wrap {
    background:white;
    width:1200px;
    padding:10px;
    margin:0 auto;
}

#header {
    background:url('../images/144 - SmZDdAq.jpg');
    background-size:cover;
	background-position:34% 34%;
    max-width:1200px;
    margin-bottom:10px;
    height:200px;
}

#header > h1 {
    text-align:center;
    color:#fff;
}

#menu ul li {
    float:left;
}

#menu ul {
    list-style:none;
    height:30px;
}

#menu > ul {
    border-bottom:1px solid #000;
}

#menu ul li a {
    color:#000;
    text-decoration:none;
    display:block;
    padding:0 20px;
    line-height:30px;
}

#menu ul li ul li {
    float:none;
	padding:0 15px;
}

#menu ul li ul {
    position:absolute;
    display:none;
}

#menu ul li:hover ul {
    display:block;
}

#menu ul li a:hover, #menu ul li a.selected {
    background:#000;
    color:#fff;
}

#content {
    width:980px;
    float:left;
    padding:10px;
}

#content h1 {
    font-size:1.6em;
}

#sidebar {
    width:179px;
    float:right;
    padding:10px;
    border-left:1px solid #aaa;
}

#sidebar ul {
    list-style:none;
    height:30px;
}

#sidebar ul li a {
    color:#000;
    text-decoration:none;
    display:block;
    padding:0 20px;
    line-height:30px;
}

#sidebar ul li:hover ul {
    display:block;
}

#sidebar ul li a:hover, #menu ul li a.selected {
    background:#000;
    color:#fff;
}

#content, #sidebar {
    min-height:600px;
	margin-top:50px;
}

#footer {
    background:#000;
    color:#fff;
    padding:10px;
}