.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body {
    background:rgba(0,0,0,.9);
	background:url('../images/1.jpg');
	background-size:cover;
}

h1, ul {
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

#wrap {
    background:white;
    width:1200px;
    padding:5px;
    margin:0 auto;
}

#header {
    background:url('../images/1.jpg');
    background-size:cover;
	background-position:30% 30%;
    max-width:1200px;
    margin-bottom:10px;
    height:150px;
}

#header > h1 {
    text-align:center;
    color:#fff;
}

#menu {
	font:1.0em proxima-nova, sans-serif;
}

#menu ul li {
    float:left;
}

#menu ul {
    list-style:none;
    height:30px;
}

#menu > ul {
    border-bottom:1px solid #000;
}

#menu ul li a {
	background:#000;
    color:#fff;
    text-decoration:none;
    display:block;
    padding:0 20px;
    line-height:30px;
}

#menu ul li ul li {
    float:none;
}

#menu ul li ul {
    position:absolute;
    display:none;
}

#menu ul li:hover ul {
    display:block;
}

#menu ul li a:hover {
	background:silver;
	color:#000;
}

#menu ul li a.selected {
    background:#fff;
    color:#000;
}

#content {
    width:880px;
    float:left;
    padding:10px;
}

#contacts {
	font:0.8em proxima-nova, sans-serif;
}

#contacts ul {
	list-style:none;
	padding:20px;
}

#contacts > ul {
    border-top:1px solid #000;
}

#contacts ul li {
	float:left;
}

#contacts ul li img {
	width:126px;
	height:162px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:0 30px;
	line-height:15px;
}

#contacts ul li ul {
	padding:10px 20px;
}

#contacts ul li ul li {
	text-align:center;
    float:none;
}

#sidebar {
	font:0.95em proxima-nova, sans-serif;
    width:279px;
    float:right;
    padding:10px;
    border-left:1px solid #aaa;
}

#sidebar ul {
    list-style:none;
    height:30px;
}

#sidebar ul li a {
    color:#000;
    text-decoration:none;
    display:block;
    padding:0 20px;
    line-height:30px;
}

#sidebar ul li:hover ul {
    display:block;
}

#sidebar ul li a:hover {
	background:#000;
	color:#fff;
}

#sidebar ul li a.selected {
    background:#000;
    color:#fff;
}

#content, #sidebar {
    min-height:400px;
	margin-top:30px;
}

#footer {
	font:0.65em proxima-nova, sans-serif;
    background:#000;
    color:#fff;
    padding:10px;
}